.places{
    margin-top: 12px;
    width: calc(100% - 148px*2);
    padding-left: 148px;
    padding-right: 148px;
}
@media (min-width: 769px) and (max-width: 1139px){
    .places{
        width: calc(100% - 48px*2);
    padding-left: 48px;
    padding-right: 48px;
    }
}
@media (min-width: 426px) and (max-width: 768px){
    .places{
    margin-top: 15px;
    width: calc(100% - 24px*2);
    padding-left: 24px;
    padding-right: 24px;
    }
}
@media (min-width: 320px) and (max-width: 425px){
    .places{
    margin-top: 14px;
    width: 100%;
    justify-content: center;
    padding: 0;
    }
}