.place__image{
    grid-area: image;
    width: 460px;
}
@media (min-width: 931px) and (max-width: 1024px){
    .place__image{
        width: 440px;
    }
}
@media (min-width: 426px) and (max-width: 930px){
    .place__image{
        max-width: 340px;
    }
}
@media (min-width: 320px) and (max-width: 425px){
    .place__image{
        width: 100%;
    }
}