.place__website_link{
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}
@media (min-width: 320px) and (max-width: 425px){
    .place__website_link{
        margin-left: 16px;
    }
}