.footer__link{
    color:  #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-right: 18px;
}
.footer__link:last-of-type{
    margin-right: 0;
}
@media (min-width: 601px) and (max-width: 700px){
    .footer__link{
    margin-right: 5px;
    }
}
@media (min-width: 320px) and (max-width: 600px){
    .footer__link{
        font-size: 24px;
    line-height: 24px;
    margin-right: 0;
    margin-bottom: 32px;
    }
    .footer__link:last-of-type{
        margin-bottom: 0;
    }
}