.footer__copyright{
    margin: 0;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
@media (min-width: 320px) and (max-width: 425px){
    .footer__copyright{
        line-height: 14px;
        max-width: 186px;
    }
}