.lead__image{
    width: 100%;
    max-height: 615px;
    margin-top: 64px;
}
@media (min-width: 426px) and (max-width: 1024px){
    .lead__image{
    margin-top: 56px;
    }
}
@media (min-width: 320px) and (max-width: 425px){
    .lead__image{
   margin-top: 40px;
    }
}