.intro{
    max-width: 53.90625%;
    margin-left: 148px;
    margin-top: 92px;
}
@media (max-width: 1024px){
    .intro{
    margin-left: 48px;
    max-width: 67.38%;
    }
}
@media (min-width: 320px) and (max-width: 768px){
    .intro{
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 426px) and (max-width: 768px){
    .intro{
        max-width: 93.75%;
        margin-top: 88px;
    }
}
@media (min-width: 320px) and (max-width: 425px){
    .intro{
        max-width: 90%;
        margin-top: 64px;
    }
}
