.cover{
    margin: 92px auto;
    max-width: 1184px;
    min-height: 740px;
    background-image: url(../../images/trains.png);
    position: relative;
    background-size: cover;
}
@media (min-width: 320px) and (max-width: 1120px){
    .cover{
    max-width: 100%;
    min-height: 62.5vw;
    }
}
@media (min-width: 550px) and (max-width: 780px){
    .cover{
    margin-top: 90px;
    margin-bottom: 88px;
    }
}
@media (min-width: 320px) and (max-width: 549px){
    .cover{
    margin-top: 66px;
    margin-bottom: 64px;
    }
}