.cover__title{
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    max-width: 560px;
    margin:0 0 32px 0;
    z-index: 2;
}
@media (min-width: 320px) and (max-width: 425px){
    .cover__title{
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 16px;
        max-width: 288px;
    }
}