.place__url-heading{
    font-size: 12px;
    line-height: 12px;
    color: #aaa;
    font-weight: 400;
}
@media (min-width: 320px) and (max-width: 425px){
    .place__url-heading{
        margin-left: 16px;
    }
}